<div class="grid-container">
  <%= form_for @animal do |f| %>

    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :body, "Description" %>
      <%= f.text_area :body %>
    </div>

    <div class="field">
      <%= f.label :photo_path, "Photo" %>
      <%= f.file_field :photo_path %>
    </div>

    <div class="actions">
      <%= f.submit "Add Animal"%>
    </div>

  <% end %>
</div>